section.login
        .event-img
        .login-form
            form
                h1 login
                label(for="username")
                    input(type="email" placeholder="Email")
                    span(class="fas fa-user")
                label(for="password")
                    input(type="password" placeholder="Password")
                    span(class="fas fa-lock")
                .remember-me
                    span Keep me sign in
                    input(type="checkbox")
                input(type="submit" value="Login")

                a(href="#") I don't remember my password